body {
  margin: 0;
  background-color: #c7e9eb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.file-input {
  display: none;
}

/* .allPDFContainer {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
} */


.fileContainer {
  background-color: rgb(32, 161, 140);
  padding:50px 10px 35px 10px;
  border-radius: 10pt;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  visibility: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 400px;
}

.fileContainer:hover {
  cursor: grab;
}

.fileContainer:active {
  cursor: grabbing;
}

.fileContainer.selected {
  border: 2pt solid black;
}

.fOption {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fOption *,
.fName {
  text-align: center;
  word-wrap: break-word;
  max-width: 100%;
}

.fName {
  margin-bottom: 3pt;
}

.loadingBar {
  justify-content: center;
}

/* .fOption>*:not(.number) {
  padding: 0 3pt;
  width: 20pt;
  height: 20pt;
} */

.number {
  display: flex;
  border: black solid 1pt;
  border-radius: 10pt;
  align-items: center;
}

.number>span {
  padding: 0 3pt;
}

.logo {
  width: 20pt;
  height: 20pt;
}

.logo:hover {
  cursor: pointer;
  background-color: rgb(5, 56, 48);
  border-radius: 10pt;
}

.header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c7eb;
  /* margin: 4pt; */
  border-radius: 10pt;
  margin: 3pt auto;
  margin-top: 15pt;
}

img {
  padding: 7pt;
}

label {
  display: flex;
}

.txtInp {
  width: 80%;
}

.txtInp span {
  width: 50%;
  text-align: initial;
}

.txtInp input {
  width: 50%;
  text-align: center;
}

.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.send-icon {
  height: 10pt;
  padding: 3pt;
  width: 10pt;
  align-self: center;
}